#gameCanvas {
  position: relative;
  border: 1px solid black;
  background-image: url("./images-here/background.jpg");
  background-size: cover;
}

#gameOverButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: medium;
  padding: 15px;
  color: rosybrown;
}

#youWinButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: medium;
  padding: 15px;
  color: aquamarine;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(67, 186, 71);
}

.centered-div {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.mouseColor {
  color: white;
}

.catColor {
  color: orange;
}

#gameTitle {
  margin-bottom: 1px;
  padding-bottom: 0px;
  color: white;
  font-size: 100px;
}

#ScoreBoard {
  margin-bottom: 0px;
  padding-bottom: 0px;

}

p {
  font-size: large;
}