#gameCanvas {
  position: relative;
  border: 4px solid rgb(245, 243, 243);
  background-image: url("./images-here/background.jpg");
  background-size: cover;
  display: inline-block;
}

#gameOverButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: medium;
  padding: 15px;
}

#youWinButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: medium;
  padding: 15px;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("./images-here/background.jpg");
  background-size: contain;
}

.centered-div {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.mouseColor {
  color: white;
  font-size: 35px;
}

.catColor {
  color: orange;
  font-size: 35px;
}

#gameTitle {
  margin-bottom: 1px;
  padding-bottom: 0px;
  color: white;
  font-size: 100px;
}

#ScoreBoard {
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: aliceblue;

}

p {
  font-size: 30px;
  color: white;
  max-width: 800px;
  text-align: center;
}

#snackScore {
  font-size: 30px;
  color: white;
}

#playButton {
  font-size: 20px;
  padding: 12px 24px;
  border-radius: 6px;
}